@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 15, 24, 33;
  }
}

.card {
  background-color: rgba(248, 250, 252, 0.3); 
  border: 0.5px solid white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


@media (prefers-color-scheme: dark) {
  .card {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



h1 {
  font-size: 24pt;
  font-weight: bold;
}

h2 {
  font-size: 18pt;
  font-weight: bold;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

h4 {
  font-size: 11pt;
}

p {
  font-size: 10pt;
}
code {
  font-size: 12pt;
}


.gradient {
  background-image: radial-gradient(ellipse at 100% 0%, rgba(179, 240, 248, 0.6), rgba(53, 88, 99, 0.3), transparent, transparent),
  radial-gradient(ellipse at 0% 100%, rgba(100, 171, 174, 0.3),  rgba(75, 152, 144, 0.2), transparent, transparent);
}



